<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to хуй</p>
    <a href="https://oauth.vk.com/authorize?client_id=5647242&redirect_uri=http://127.0.0.1:3000/auth&scope=friends&response_type=token&v=5.53&state=123456">Вход</a>
  </body>
</html>
